<app-spinner *ngIf="showSpinner"></app-spinner>
<div class="list-group" *ngIf="!showSpinner">
  <div class="list-group-item list-group-item-success list-group-item-success"
     [class]="list-group-item-success"></div>

<div>
  <!-- Stranger list starts here-->
  <div class="stranger_list">
    <div class="stranger_list_hdr">
      <i class="fas fa-user stranger_user" title="Stranger icon"></i>
      Connected Strangers
    </div>
    <div class="stranger" *ngFor="let stranger of stranger_list | keyvalue">
      <div class="stranger_pic"><img src={{stranger.value.instance.dp_url}}
        alt="Image not found" onerror="this.src='./assets/Tyrion Lannister.jpg'"></div>
      <div class="stranger_name">
        <button mat-raised-button
        (click)="EnterChatBoxStranger(stranger.key)"
        mat-raised-button
        matBadge="{{stranger.value.instance.unseen_message}}" matBadgePosition="before"
        matBadgeColor="accent"
        matBadgeHidden="{{!stranger.value.instance.unseen_message}}"
        title="Press to open chat"
        >{{stranger.key}}</button>
      </div>
    </div>
  </div>
  <div class="tmp_txt_stranger" *ngIf="stranger_list.size == 0">
   Strangers will be visible here.
  </div>
  <!-- Stranger list ends here-->

  <!-- Friend list starts here-->
  <div class="friend_list">
    <div class="friend_list_hdr">
      <i class="fas fa-user-friends userfriends" title="Friend icon"></i>
      Friends
    </div>
    <div class="friend" *ngFor="let friend of login.friend_list">
      <div class="friend_pic"><img class="fr_class" src={{friend.dp_url}}
        alt="Image not found" onerror="this.src='./assets/Tyrion Lannister.jpg'"></div>
      <div class="friend_name">
        <button mat-raised-button
        (click)="EnterChatBox(friend)"
        mat-raised-button
        matBadge="{{friend.unseen_message}}" matBadgePosition="before"
        matBadgeColor="accent"
        matBadgeHidden="{{!friend.hasunseen_message}}"
        title="Press to open chat"
        >{{friend.username}}</button>
      </div>
      <div class="line_status_white"
      *ngIf="friend.onlinestatus == 'false'"
      title="Offline"></div>
      <div class="line_status_green"
      *ngIf="friend.onlinestatus == 'true'"
      title="Online"></div>
    </div>
  </div>
  <div class="tmp_txt_friends" *ngIf="login.friend_list == 0">
    Added friends will be visible here.
  </div>
  <!-- Friend list ends here-->
</div>
</div>
