<div class="grid_container">
  <div class="user">
    <div class="photo"><img src="assets/Tyrion Lannister.jpg" alt="Tyrion lannister"></div>
    <div class="user_name"><span>Tyrion Lannister</span></div>
  </div>
  <div class="logout">
    <button type = "button" class="btn btn-danger btn-lg" (click)="logout()" name="button"><span class="glyphicon glyphicon-log-out"> Logout</span></button>
  </div>
  <div class="friend_list">
    <app-active-users></app-active-users>
  </div>
  <div class="chat_popup chat_popup1"></div>
  <div class="chat_popup chat_popup2"></div>
  <div class="chat_popup chat_popup3"></div>
  <div class="chat_popup chat_popup4"></div>
</div>
