.request {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.stranger_name, .accept, .reject {
  margin: 5px;
}

.stranger_name {
  align-self: center;
  width: 190px;
  overflow: hidden;
}

.accept {

}

.reject {

}

.stranger_pic {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.stranger_pic img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 10px;
}
