.request {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.stranger_name, .accept, .reject {
  /* margin: 5px; */
}

.stranger_name {
  align-self: center;
  /* width: 190px; */
  overflow: hidden;
  max-width: 40%;
}

.accept {
}

.reject {
}

.stranger_pic {
  max-width: 50px;
  max-height: 50px;
}

.stranger_pic img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 10px;
}
