<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="well">

    <div class="row">
      <div class="col-md-2">
        <h3> <span class="label label-info">Chat History</span></h3>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <h3> <span class="label label-info">Friend List</span></h3>
      </div>
    </div>

    <div class="row">
        <div class="col-md-8">
          <iframe src="#" height="600" width="800"></iframe>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <iframe src="#" height="600" width="250"></iframe>
        </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
              <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row"></div>
        <div class="row">
            <button type="button" class="btn btn-success btn-lg">Send</button>
        </div>
        <div class="row">
            <button type="button" class="btn btn-success btn-lg">Image</button>
        </div>
      </div>

    </div>

  </div>
</div>

</body>
</html>
