<div *ngIf = "login_status" class="center">
  <form novalidate [formGroup]="form" (ngSubmit)="AddUser(form)"  #user_form="ngForm">
    <div [ngSwitch]="EnterAs">
      <div *ngSwitchCase="'User'">

        <input class="box" type="text" name="" value="" formControlName="name" required placeholder="User name" autocomplete="username">

        <input class="box" type="password" name="" value="" formControlName="password" required placeholder="Password" autocomplete="current-password">

        <button type="submit" name="login" [disabled]="!user_form.form.valid"> Login </button>

     </div>
   </div>
  </form>
  <div *ngIf = "login_error_status">
      <h5>Username or password is wrong.</h5>
  </div>
</div>

<br>

<div *ngIf = "chat_box_status">
  <router-outlet></router-outlet>
</div>
