<div class="container">
  <div class= "well">

      <div class = "row">

        <div class="col-md-4">
          <button type = "button" class="btn btn-success btn-lg" [disabled] = "chat_start_status" (click)="set_start_chat_status()" name="button">Start Chat</button>
        </div>

        <div class="col-md-4">
          <button type = "button" class="btn btn-danger btn-lg" [disabled] = "chat_end_status" (click)="set_end_chat_status()" name="button">End Chat</button>
        </div>

        <div class="col-md-4">
          <button type = "button" class="btn btn-danger btn-lg" (click)="logout()" name="button"><span class="glyphicon glyphicon-log-out"> Logout</span></button>
        </div>

      </div>
  </div>

</div>


<app-chat-window></app-chat-window>
