* {
  margin: 0;
  padding: 0;
  font-family: tahoma, sans-serif;
  box-sizing: border-box;
}

.chatbox {
  width: 100%;
  height: 100%;
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  box-shadow: 3px 3px #ccc;
  position: relative;
  border-radius: 20px;
}

.chatlog {
  width: 100%;
  height: 83%;
  padding: -100px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 5px;
}

.chatlog::-webkit-scrollbar {
  width: 10px;
}

.chatlog::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.chat {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.chat .user-photo {
  width: 50px;
  height: 50px;
  background: #ccc;
  border-radius: 50px;
  overflow: hidden;
}

.chat .user-photo img {
  width: 100%;
}

.chat .chat-message {
  width: 70%;
  padding: 5px;
  margin: 0 5px 0;
  background: #1ddced;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
}

.friend .chat-message {
  background: #605f5f;
}

.self .chat-message {
  background: #12867c7a;
  order: -1;
  justify-content: flex-end;
}

.chat-form {
  display: flex;
  align-items: flex-start;
  height: 10%;
}

.chat-form input {
  width: 100%;
  height: 100%;
  border-top-style: ridge;
  border-width: 1px;
  border-color: #12867c7a;
  resize: none;
  font-size: 16px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.chat-form input::-webkit-scrollbar {
  width: 10px;
}

.chat-form input::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.window-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 2px;
  background-color: #636c87;
  border-radius: 20px;
  height: 7%;
}

.username {
  position: relative;
  width: 190px;
  overflow: hidden;
  text-align: center;
  color: white;
  align-self: center;
}

.username:hover {
  overflow: visible;
}

.window-header-opt {
  align-self: center;
}

.window-header .window-header-opt-add {
  position: relative;
  right: 10px;
  margin-right: 5px;
}

.window-header-opt-add {
  align-self: center;
}

.close_icon, .maximize_icon, .minimize_icon {
  color: white;
  margin-right: 5px;
  align-self: center;
}

.aduser_icon, .endchat_icon {
  margin-left: 5px;
  color: white;
  align-self: center;
}
